body {
    background-image: url('../images/books2.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    color: white;
    background-attachment: fixed;
}
.book-hub-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: rgba(0, 204, 204, 0.9);
    font-size: 7em;
    text-align: center;
    border: 5px solid white;
}
.data-table{
    font-family: "Arial Rounded MT Bold";
    color: black;
    background: rgb(230, 255, 255, 0.7);
}
nav{
    font-family: "Arial Rounded MT Bold";
    font-weight: bold;
    font-size: 1.5em;
    /*background: rgb(153, 77, 0, 0.5);*/
    /*color: white;*/
}
thead{
    font-weight: bold;
}