<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="home">Acasă</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="books">Cărți</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="bookstores">Locații</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="bookToBookstore">Asociere</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="search_books">Căutare</a>
                </li>
            </ul>
<!--            <form class="d-flex">-->
<!--                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--            </form>-->
        </div>
    </div>
</nav>
<br>
<br>


<div class="d-flex justify-content-center">
    <h2 th:text="#{header.book.page}"/><br>
</div>
<div class="d-flex justify-content-center">
    <form action="#" th:action="@{/books}" th:object="${book}" method="post" style="width: 30%">
        <div class="mb-3">
            <label for="book_id" class="form-label" th:text="#{td.book.id}"></label>
            <input id="book_id" type="text" class="form-control border" th:field="*{book_id}"/>
        </div>
        <div class="mb-3">
            <label for="book_name" class="form-label" th:text="#{td.book.name}"></label>
            <input id="book_name" type="text" class="form-control border" th:field="*{name}"/>
        </div>
        <div class="mb-3">
            <label for="book_author" class="form-label" th:text="#{td.book.author}"></label>
            <input id="book_author" type="text" class="form-control" th:field="*{author}"/>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Salvează</button>
        </div>
    </form>
</div>
<div th:if="${bookList!=null and !bookList.isEmpty()}">
    <div class="d-flex justify-content-center">
        <table class="table table-hover" style="width: 50%">
            <thead>
            <tr class="table-primary">
                <td style="width: 10%" th:text="#{td.book.id}"/>
                <td style="width: 30%" th:text="#{td.book.name}"/>
                <td style="width: 30%" th:text="#{td.book.author}"/>
                <td style="width: 30%" th:text="#{td.book.actions}"></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book: ${bookList}">
                <td th:text="${book.book_id}"></td>
                <td th:text="${book.name}"></td>
                <td th:text="${book.author}"></td>
                <td>
                    <a th:href="@{/books/editBook(book_id=${book.book_id})}" class="btn btn-info">Editează</a>
                    <a th:href="@{/books/deleteBook(book_id=${book.book_id})}" class="btn btn-danger">Șterge</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>