<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books Assignment</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="home">Acasă</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="books">Cărți</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="bookstores">Locații</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="bookToBookstore">Asociere</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="search_books">Căutare</a>
        </li>
      </ul>
      <form class="d-flex" th:action="@{/bookToBookstore/bookstore}" method="get">
        <select class="form-control"  name="bookstore_id">
          <option th:each="bookstore: ${bookstoreList}" th:value="${bookstore.bookstore_id}" th:text="${bookstore.name}"
                  th:selected="${bookstore.bookstore_id == bookstore_id ? 'selected' : 'false'}"></option>
        </select>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<br>
<br>

<div class="d-flex justify-content-center">
  <h2 th:text="#{header.book_to_bookstore.page}"></h2><br>
</div>

<div class="d-flex justify-content-center">
  <form action="#" th:action="@{/bookToBookstore}" th:object="${bookBookstoreDto}" method="post" style="width: 30%">
    <div class="mb-3">
      <label for="bookstore_id" class="form-label">Lista de Locații:</label>
      <select class="form-control" id="bookstore_id" th:field="*{bookstore_id}">
        <option th:each="bookstore: ${bookstoreList}" th:value="${bookstore.bookstore_id}" th:text="${bookstore.name}"></option>
      </select>
    </div>
    <div class="mb-3">
      <label for="book_id" class="form-label">Lista de Cărți:</label>
      <select class="form-control" id="book_id" th:field="*{book_id}">
        <option th:each="book: ${bookList}" th:value="${book.book_id}" th:text="${book.name}"></option>
      </select>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Adaugă</button>
    </div>
  </form>
</div>

<div th:if="${bookListForTable!=null and !bookListForTable.isEmpty()}">
  <div class="d-flex justify-content-center">
    <table class="table table-hover" style="width: 50%">
      <thead>
      <tr class="table-primary">
        <td style="width: 70%" th:text="${bookstoreName}"></td>
        <td style="width: 30%" th:text="#{td.book.actions}"></td>
      </tr>
      </thead>
      <tbody>
      <tr th:each="book: ${bookListForTable}">
        <td th:text="${book.name}"></td>
        <td>
          <a th:href="@{/bookToBookstore/deleteBook(book_id=${book.book_id})}" class="btn btn-danger">Șterge</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>